.full-background {
  background-image: url('./tumo-building.jpg');
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  filter: none;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: black;
}

.tumo-logo-caption {
  width: 800px;
}